header {
    background-color: cornflowerblue;
    background-image: url(./img/pattern.png);
    background-repeat: no-repeat;
    margin: 0px;
    
    font-weight: normal;
    line-height: 260px;

    height: 150px;
}

.logo-img {
    padding: 50px 0;
}

figure{
    margin: 0cm;
}

ul{
    padding-left: 0.5cm;
}

th{
    width: 25%;
}

th{
    width: 25%;
}

th{
    width: 50%;
}


h3 strong{
    color: blue;
}
thead {
    background-color: cornflowerblue;
    color: azure;   
}

.first {
    background-color: aqua;
}
tfoot {
    background-color: aqua;
    color: black;
}